---
import Layout from '../layouts/Layout.astro';
import Masthead from  '../components/Masthead.astro';
import Work from  '../components/Work.astro';
---

<Layout title="bocc(dot)dev">
	<main class="w-full p-8">
		<Masthead />
	</main>
</Layout>

