---
import Layout from "../layouts/Layout.astro";
import Masthead from "../components/Masthead.astro";
import Work from "../components/Work.astro";
import Contact from "../components/Contact.astro";

const title = "bocc(dot)dev";
const seoTitle = "bocc(dot)dev";
const seoDescription =
	"A design-led development studio crafting websites with a less is more approach";
---

<Layout {title} {seoTitle} {seoDescription}>
	<main class="w-full p-8">
		<Masthead />
		<Work />
		<Contact />
	</main>
</Layout>
