---

---

<section
	class="pt-24 pb-12 bg-white dark:bg-black relative border-b dark:border-grey-dark border-grey-mid"
>
	<h2 class="font-medium text-xl [text-wrap:balance] hidden sm:flex pb-8">
		Contact
	</h2>
	<p>
		Email: <a href="mailto:contact@bocc.dev">contact@bocc.dev</a><br />
		 Tel: <a href="tel:07590217774">(0) 7590 217774</a><br />
		 Twitter: <a href="https://twitter.com/boccdotdev">@boccdotdev</a>
	</p>
</section>
