---

---

<header class="fixed top-0 inset-x-0 p-8 grid grid-cols-3 gap-8 z-50">
	<h1 class="font-mono">bocc(dot)dev</h1>
	<nav class="space-x-4 font-mono">
		<button>Work</button>
		<button>Ethos</button>
		<button>Contact</button>
	</nav>
</header>
