---
import Speaker from "../components/Speaker.astro";
const overview =
	"A design-led development studio crafting websites with a less is more approach.";
---

<section
	class="space-y-8 sm:grid sm:grid-cols-3 border-b dark:border-grey-dark border-grey-mid pb-12"
>
	<div class="sm:flex sm:flex-col sm:justify-between">
		<h1 class="font-mono text-sm">bocc(dot)dev</h1>
		<p class="font-medium text-xl [text-wrap:balance] hidden sm:flex">
			{overview}
		</p>
	</div>
	<div
		class="flex sm:justify-end sm:col-start-3 dark:text-grey-dark text-grey-mid"
	>
		<Speaker />
	</div>
	<p
		aria-hidden
		class="font-medium text-xl [text-wrap:balance] flex sm:hidden"
	>
		{overview}
	</p>
</section>
