---
interface Props {
	title: string;
}

import "../styles/app.pcss";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style is:inline>
			[x-cloak] {
				display: none !important;
			}
		</style>
		<script src="../scripts/app.js"></script>
	</head>
	<body class="flex flex-row w-full h-[100dvh] relative">
		<slot />
		<!-- <script
			async
			defer
			rel="preconnect"
			src="https://scripts.withcabin.com/hello.js"
		></script> -->
	</body>
</html>